.navbar{
    display: flex;
    justify-content: space-around;
    transition: all 1s;
}

.navbar.scrolled{
    position: sticky;
    background-color: rgba(0, 0, 0, 0.822);
    top: 0%;
    z-index: 1000;
    width: 100%;
}

.navbar a{
    font-family: 'Cinzel', serif;
    color: rgba(255, 255, 255, 0.911);
    transition: all 0.3s;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    font-weight: 100;
    padding: 12px;
    margin: 6px;
    box-shadow: inset 0px -2px 0px 0px rgba(192, 34, 34, 0.75);
}

.navbar a:hover{
    color: brown;
    box-shadow: inset 0px -5px 0px 0px rgba(192, 34, 34, 0.75);
}

.navbar a.active{
    color: brown;
    box-shadow: inset 0px -5px 0px 0px rgba(192, 34, 34, 0.75);
}