@font-face{
  font-family: 'MarzoW00-Regular';
  src: local('Marzo'), url('./fonts/Marzo\ W00\ Regular.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 12px 15vw;
  font-family: 'MarzoW00-Regular';
  background: url('./img/chica.png') no-repeat fixed;
  background-size: 70%;
  background-color: black;
  background-position-x: 100%;
  min-height: 100vh;
  color: aliceblue;
}

@media (max-width: 800px) {
  body{
    padding: 0px;
    background: url('./img/chica.png') no-repeat fixed;
    background-size: 100%;
    background-color: black;
    background-position-x: 0%;
    background-position-y: 10vh;
  }
}

